@{
    ViewData["Title"] = "Register";
}
@model RegisterVM

<main class="main">
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
                <li><a href="shop.html">Riode Shop</a></li>
                <li>My Account</li>
            </ul>
        </div>
    </nav>
    <div class="page-content mt-6 pb-2 mb-10">
        <div class="container">
            <div class="login-popup">
                <div class="form-box">
                    <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                        <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link border-no lh-1 ls-normal" href="#register">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="tab-pane active" id="register">
                                <form method="post">
                                    <div class="form-group">
                                        <input asp-for="Firstname" class="form-control" placeholder="First Name"
                                               required /> <br />
                                        <span class="text text-danger" asp-validation-for="Firstname"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Lastname" class="form-control" placeholder="Last Name"
                                               required /> <br />
                                        <span class="text text-danger" asp-validation-for="Lastname"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Username" class="form-control" placeholder="Username"
                                               required /> <br />
                                        <span class="text text-danger" asp-validation-for="Username"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Email" class="form-control" placeholder="Your Email address *"
                                               required /> <br />
                                        <span class="text text-danger" asp-validation-for="Email"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Password" class="form-control" placeholder="Password *"
                                               required /> <br />
                                        <span class="text text-danger" asp-validation-for="Password"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password *"
                                               required /> <br />
                                        <span class="text text-danger" asp-validation-for="ConfirmPassword"></span>
                                    </div>
                                    <div class="form-footer">
                                        <div class="form-checkbox">
                                            <input style="width: 20px; height: 20px; -webkit-appearance: checkbox !important; " asp-for="Terms"  />
                                            <label class="form-control-label">
                                                I agree to the
                                                privacy policy
                                            </label>
                                            <span class="text text-danger" asp-validation-for="Terms"></span>
                                        </div>
                                    </div>
                                    <button class="btn btn-dark btn-block btn-rounded" type="submit">Register</button>
                                </form>
                                <div class="form-choice text-center">
                                    <label class="ls-m">or Register With</label>
                                    <div class="social-links">
                                        <a href="#" class="social-link social-google fab fa-google border-no"></a>
                                        <a href="#" class="social-link social-facebook fab fa-facebook-f border-no"></a>
                                        <a href="#" class="social-link social-twitter fab fa-twitter border-no"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>